body, input, label, button {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

body {
	width: 980px;
	margin: 0 auto;
}

h1, h3 {
	font-weight: normal;
	text-align: center;
}

h3{
	border-bottom: 3px solid black;
	padding: 5px;
	margin: 0;
	margin-bottom: 25px;
}

input {
	font-size: 16px;
}

.borderDiv {
	border: 3px solid black;
	margin-top: 10px;
	padding-bottom: 25px;
}


.leftSide {
	float: left;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	box-sizing: border-box;
}

.rightSide {
	float: left;
	width: 40%;
	margin-right: 5%;
	margin-right: 5%;
	box-sizing: border-box;
}

label{
	width: 160px;
	text-align: right;
	display: inline-block;
	padding: 15px;
}

.inputButtons {
	margin: 25px auto;
	text-align: center;
}

button {
	padding: 10px;
	background: white;
	border: 3px solid black;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background: #ddd;
}

#resetButton {
	position: absolute;
	bottom: 25px;
}
